*{
    padding: 0px;
    margin: 0%;
    font-family: cursive;
}
body{
    background-color: rgb(80, 80, 212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 300px;
    width: 450px;
    background-color: wheat;
    box-shadow: 5px 5px 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
h2{
    font-size: 40px;
}
p{
    position: relative;
    top: 30px;
}
input{
    width: 60px;
    height: 40px;
    
}
#start{
    background-color: green;
    color: white;
    position: relative;
    top: 10px;
    left: 90px;
}
#stop{
    background-color: red;
    color: white;
    position: relative;
    top: 10px;
    left: 130px;
}
#reset{
    background-color: aqua;
    color: white;
    position: relative;
    top: 10px;
    left: 170px;
}